{% extends 'base.html' %}
{% block 'body'%}
{% load static %}
    <main role="main">
        <section id="{{ inpage_links.home }}" class="hero-section hero" data-background="" style="background-image: url(/static/images/hero-area/banner-bg.png);">
            <div class="container">
                <div class="row">
                        {% for general_info in general_info.all %}
                            <div class="col-lg-12 text-center zindex-1">
                            <h1 class="mb-3">{{ general_info.first_name }} {{ general_info.last_name }}<br></h1>
                            <h4 class="mb-3">{{ general_info.heading }} <br><br>
                            <p class="mb-4">{{ general_info.sub_heading }}</p>
                        {% endfor %}
                        {% with jobs.all|first as job %}
                            <h4>{{ job.designation }} @ {{ job.company_name }} </h4>
                        {% endwith %}
                            <a href="#{{ inpage_links.project }}" class="btn btn-secondary btn-lg page-scroll">explore</a>
                            <!-- banner image -->
                            <img class="img-fluid w-100 banner-image" src="{% static 'images/hero-area/banner-img.png' %}" alt="banner-img">
                        </div>
                </div>
            </div>
            <!-- background shapes -->
            <div id="scene">
                <img class="img-fluid hero-bg-1 up-down-animation" src="{% static 'images/background-shape/feature-bg-2.png' %}" alt="">
                <img class="img-fluid hero-bg-2 left-right-animation" src="{% static 'images/background-shape/seo-ball-1.png' %}" alt="">
                <img class="img-fluid hero-bg-3 left-right-animation" src="{% static 'images/background-shape/seo-half-cycle.png' %}" alt="">
                <img class="img-fluid hero-bg-4 up-down-animation" src="{% static 'images/background-shape/green-dot.png' %}" alt="">
                <img class="img-fluid hero-bg-5 left-right-animation" src="{% static 'images/background-shape/blue-half-cycle.png' %}" alt="">
                <img class="img-fluid hero-bg-6 up-down-animation" src="{% static 'images/background-shape/seo-ball-1.png' %}" alt="">
                <img class="img-fluid hero-bg-7 left-right-animation" src="{% static 'images/background-shape/yellow-triangle.png' %}" alt="">
                <img class="img-fluid hero-bg-8 up-down-animation" src="{% static 'images/background-shape/service-half-cycle.png' %}" alt="">
                <img class="img-fluid hero-bg-9 up-down-animation" src="{% static 'images/background-shape/team-bg-triangle.png' %}" alt="">
            </div>
        </section>
        <!-- /hero-area -->

        <!-- Project area -->
        <section id="{{ inpage_links.project }}" class="projects">
            <div class="container">
                <div class="col-lg-12 text-center">
                    <h2 class="section-title">Projects</h2>
                    <p class="mb-100">
                        
                    </p>
                </div>

                {% for project in projects.all %}
                <div class="card">
                    <a href="{% url 'detail' project.id %}">
                        <div class="content">
                            <div class="imgBx">
                                <img src="{{ project.image.url }}">
                            </div>
                            <div class="contentBx">
                                <a href="{% url 'detail' project.id %}">
                                    <h3>{{ project.heading }}<br><span>{{  project.subheading }}</span></h3>
                            </div>                  
                            
                        </div>

                    <ul class="sci">
                        <li>
                            <a href="{% url 'detail' project.id %}">{{ project.summary }}</a>
                        </li>
                    </ul>
                    </a>
                </div>
                {% endfor %}
            </div>
            <!-- background image -->
            <img class="img-fluid projects-bg" src="{% static 'images/backgrounds/seo-bg.png' %}" alt="seo-bg">
            <!-- background-shape -->
            <img class="projects-bg-shape-1 left-right-animation" src="{% static 'images/background-shape/seo-ball-1.png' %}" alt="bg-shape">
            <img class="projects-bg-shape-2 up-down-animation" src="{% static 'images/background-shape/seo-half-cycle.png' %}" alt="bg-shape">
            <img class="projects-bg-shape-3 left-right-animation" src="{% static 'images/background-shape/feature-bg-2.png' %}" alt="bg-shape">
            
        </section>
        <!-- End Project area -->

        <!-- web resume -->
        <section id="{{ inpage_links.resume }}" class="web-resume">
            <div class="container">
                <div class="col-lg-12 text-center">
                    <h2 class="section-title">Resume</h2>
                    <p class="mb-100">
                        
                    </p>
                </div>
                <div class="card">
                    <div class="content">
                        {% for general_info in general_info %}
                        <div class="resumeBxTitle">
                            <h3>{{ general_info.first_name }} {{ general_info.last_name }}</h3>
                        </div>
                        <div class="resumeBxMatter">
                            <h5>{{ general_info.location | safe}} | {{ general_info.contact_num | safe}} | {{ general_info.e_mail| safe}}</h5>
                        </div>
                        <div class="sociallinks">
                            <div class="resumeimgBx">
                                {% if general_info.linkedin %}
                                    <a href="{{ general_info.linkedin }}">
                                        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" data-supported-dps="24x24" fill="currentColor" class="mercado-match" width="24" height="24" focusable="false">
                                            <path d="M20.5 2h-17A1.5 1.5 0 002 3.5v17A1.5 1.5 0 003.5 22h17a1.5 1.5 0 001.5-1.5v-17A1.5 1.5 0 0020.5 2zM8 19H5v-9h3zM6.5 8.25A1.75 1.75 0 118.3 6.5a1.78 1.78 0 01-1.8 1.75zM19 19h-3v-4.74c0-1.42-.6-1.93-1.38-1.93A1.74 1.74 0 0013 14.19a.66.66 0 000 .14V19h-3v-9h2.9v1.3a3.11 3.11 0 012.7-1.4c1.55 0 3.36.86 3.36 3.66z"></path>
                                        </svg>
                                    </a>
                                {% endif %}
                            </div>
                            <div class="resumeButton"> 
                                <a href="{{ general_info.resume.url }}">Download CV</a>
                            </div>
                        </div> 
                        <div class="contentBxTitle">
                            <h3>Summary</h3>
                        </div>
                        <div class="contentBxMatter">
                            <h5>{{ general_info.resume_summary | safe}}</h5>
                        </div>
                        {% endfor %}
                        <div class="contentBxTitle">
                                <h3>Experience</h3>
                        </div>
                        {% for job in jobs.all %}
                            <div class="row">
                                <div class="contentBxCompanyName">
                                    <h5>{{ job.designation}}</h5>
                                    
                                </div>
                                <div class="date">
                                    <h5>{{job.from_date|date:'M Y'}} - {{job.to_date|date:'M Y'}}</h5>
                                </div>
                            </div>
                            <div class="contentBxCompanyName">
                                <h5>{{ job.company_name}} - {{job.job_location}}</h5>
                            </div>
                            <div class="contentBxMatter">
                                <h5>{{ job.in_job_experience | safe}}</h5>
                            </div>
                        {% endfor %}
                        
                        <div class="contentBxTitle">
                            <h3>Technical skills</h3>
                        </div>
                        {% for general_info in general_info.all %}
                            <div class="contentBxMatter">
                                <h5> 
                                    {{ general_info.technical_skills | safe }}
                                </h5>
                            </div>
                        {% endfor %}

                        <div class="contentBxTitle">
                            <h3>Education</h3>
                        </div>
                        {% for education in education.all %}
                            <div class="row">
                                <div class="contentBxCompanyName">
                                    <h5> 
                                        {{ education.course | safe }}
                                    </h5>
                                </div>
                                <div class="date">
                                    <h5>{{ education.start_year }} - {{ education.finish_year }}</h5>
                                </div>
                            </div>
                            <div class="row">
                                <div class="contentBxMatter">
                                    <h5> 
                                        {{ education.university }} <br><br>
                                        {% if education.subjects %}
                                            Subjects: {{ education.subjects }}
                                        {% endif %}
                                    </h5>
                                </div>
                            </div>                            
                        {% endfor %}
                    </div>
                </div>
            </div>
            <!-- background image -->
            <img class="img-fluid resume-bg" src="{% static 'images/backgrounds/service-bg.png' %}" alt="resume-bg">
            <!-- background shapes -->
            <img class="service-bg-shape-1 up-down-animation" src="{% static 'images/background-shape/yellow-triangle.png' %}" alt="background-shape">
            <img class="service-bg-shape-2 up-down-animation" src="{% static 'images/background-shape/seo-ball-2.png' %}" alt="background-shape">
        </section>
        <!-- end web resume -->

        <!-- Contact Me -->
        <section id="{{ inpage_links.contact }}" class="section-lg contact">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-12 text-center">
                            <h2 class="section-title">Get In Touch</h2>
                        </div>
                    </div>
                    <div class="row contact-bg p-5 rounded mb-5">
                        <div class="col-lg-7 mb-4 mb-lg-0">
                            <form method="POST" action="">
                                {% csrf_token %}
                                <input type="text" class="form-control mb-3" id="name" name="name" placeholder="Your Name" required>
                                <input type="email" class="form-control mb-3" id="mail" name="mail" placeholder="Your Email" required>
                                <input type="text" class="form-control mb-3" id="subject" name="subject" placeholder="Subject" required>
                                <textarea name="message" id="message" class="form-control mb-3" placeholder="Your Message" required></textarea>
                                <button type="submit" value="send" class="btn btn-secondary">SEND MESSAGE</button>
                            </form>

                            {% for message in messages %}
                                {{ message }}
                            {% endfor %}

                            

                        </div>
                        <div class="col-lg-5">
                            <p class="mb-5">If you'll like to know about the projects or implement the projects please feel free to get in touch.</p>
                            <a href="tel:+442081446356" class="text-color h5 d-block">+353 899 64 83 76</a>
                            <a href="mailto:info@chaitanyakhairnar.io" class="mb-5 text-color h5 d-block">info@chaitanyakhairnar.io</a>
                            <!-- <p>71 Shelton Street<br>London WC2H 9JQ England</p> -->
                        </div>
                    </div>
                    
                </div>
                <!-- background shapes -->
                <img class="contact-bg-1 up-down-animation" src="{% static 'images/background-shape/feature-bg-2.png' %}" alt="background-shape">
                <img class="contact-bg-2 left-right-animation" src="{% static 'images/background-shape/green-half-cycle.png' %}" alt="background-shape">
                <img class="contact-bg-3 left-right-animation" src="{% static 'images/background-shape/green-dot.png' %}" alt="background-shape">
                <img class="contact-bg-4 left-right-animation" src="{% static 'images/background-shape/service-half-cycle.png' %}" alt="background-shape">
                <img class="contact-bg-5 up-down-animation" src="{% static 'images/background-shape/feature-bg-2.png' %}" alt="background-shape">
            </section>
        <!-- End Contact Me -->
    </main>

{% endblock %}
