{% load static %}
<!-- footer -->
    <footer class="footer-section footer">
    <div class="container">
        <div class="row">
            <div class="col-lg-4 text-center text-lg-left mb-4 mb-lg-0">
                <!-- logo -->
                <a href="index.html">
                <!-- <img class="img-fluid" src="{% static 'images/logo.png' %}" alt="logo"> -->
                </a>
            </div>

            <!-- footer social icon -->
            <nav class="col-12">
                {% for general_info in general_info.all %}
                <ul class="list-inline text-lg-right text-center social-icon">
                    {% if general_info.linkedin != None %}
                    <li class="list-inline-item">
                        <a class="linkedin" href="{{ general_info.linkedin }}"><i class="ti-linkedin"></i></a>
                    </li>
                    {% endif %}
                    {% if general_info.github != None %}
                    <li class="list-inline-item">
                        <a class="black" href="{{ general_info.github }}"><i class="ti-github"></i></a>
                    </li>
                    {% endif %}
                    {% if general_info.facebook != None %}
                    <li class="list-inline-item">
                        <a class="facebook" href="{{ general_info.facebook }}"><i class="ti-facebook"></i></a>
                    </li>
                    {% endif %}
                    {% if general_info.twitter != None %}
                    <li class="list-inline-item">
                        <a class="twitter" href="{{ general_info.twitter }}"><i class="ti-twitter-alt"></i></a>
                    </li>
                    {% endif %}
                </ul>
                {% endfor %}
            </nav>
            <!-- footer menu -->
            <nav class="col-lg-8 align-self-center mb-5">
                <ul class="list-inline text-lg-right text-center footer-menu">
                    {% if page_id == 'home' %}
                    <li class="list-inline-item active page-scroll"><a href="#{{ inpage_links.home }}">Home</a></li>
                    <li class="list-inline-item page-scroll"><a class="page-scroll" href="#{{ inpage_links.project }}">Project</a></li>
                    <li class="list-inline-item page-scroll"><a href="#{{ inpage_links.resume }}">Resume</a></li>
                    <li class="list-inline-item page-scroll"><a href="#{{ inpage_links.contact }}">Contact</a></li>

                    {% else %}
                    <li class="list-inline-item active page-scroll">
                        <a href="{% url 'home' %}">Home</a>
                    </li>
                    <li class="list-inline-item active page-scroll">
                        <a href="{% url 'home'%}#{{ outpage_links.project }}">Projects</a>
                    </li>
                    <li class="list-inline-item active page-scroll">
                        <a href="{% url 'home'%}#{{ outpage_links.resume }}">Resume</a>
                    </li>
                    <li class="list-inline-item active page-scroll">
                        <a href="{% url 'home'%}#{{ outpage_links.contact }}">Contact</a>
                    </li>
                    {% endif %}
                </ul>
            </nav>
            <!-- Copyright -->
            <nav class="col-lg-8 align-self-center mb-5">
                <ul class="list-inline text-lg-right text-center footer-menu">
                    <li>Chaitanya Khairnar &copy; 2023</li>
                </ul>
            </nav>
        </div>
    </div>
</footer>
<!-- /footer -->