# This workflow will install Python dependencies, run tests and lint with a single version of Python
# For more information see: https://docs.github.com/en/actions/automating-builds-and-tests/building-and-testing-python

name: Django postfolio

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

permissions:
  contents: read

jobs:
  build:

    runs-on: ubuntu-latest
    
    services:
      postges:
        image: postgres:10.8
        env:
          POSTGRES_USER: postgres
          POSTGRES_PASSWORD: postgres
          POSTGRES_DB: github_actions
        ports:
          - 5433:5432
        options: --health-cmd pg_isready --health-interval 10s --health-timeout 5s

    steps:
    - uses: actions/checkout@v3
    - name: Set up Python 3.11
      uses: actions/setup-python@v3
      with:
        python-version: "3.11"
    - name: Install dependencies
      run: |
        python -m pip install --upgrade pip
        if [ -f requirements.txt ]; then pip install -r requirements.txt; fi
#        pip install flake8 pytest
        
#     - name: Lint with flake8
#       run: |
#         # stop the build if there are Python syntax errors or undefined names
#         flake8 . --count --select=E9,F63,F7,F82 --show-source --statistics
#         # exit-zero treats all errors as warnings. The GitHub editor is 127 chars wide
#         flake8 . --count --exit-zero --max-complexity=10 --max-line-length=127 --statistics
#     - name: Test with Unittest
#       env:
#         SECRET_KEY: ${{ secrets.SECRET_KEY }}     
#         DB_ENGINE:  ${{ secrets.DB_ENGINE }}  
#         DB_NAME: ${{ secrets.DB_NAME }}
#         DB_USER: ${{ secrets.DB_USER }}
#         DB_PASSWORD: ${{ secrets.DB_PASSWORD }}
#         DB_HOST:  ${{ secrets.DB_HOST }}
#         DB_PORT:  ${{ secrets.DB_PORT }}
#         EMAIL_BACKEND:  ${{ secrets.EMAIL_BACKEND }}
#         EMAIL_HOST:  ${{ secrets.EMAIL_HOST }}
#         EMAIL_HOST_USER:  ${{ secrets.EMAIL_HOST_USER }}
#         EMAIL_HOST_PASSWORD:  ${{ secrets.EMAIL_HOST_PASSWORD }}
#         EMAIL_PORT:  ${{ secrets.EMAIL_PORT }}
#         DEFAULT_FROM_EMAIL: ${{ secrets.DEFAULT_FROM_EMAIL }}
#       run: |
#         pytest
